@import "reset";
@import "themes/dark";
@import "themes/light";
@import "variables/global";

.app {
  font-family: var(--font-family);
  font-size: var(--font-size-base);

  color: var(--text-color);
  background-color: var(--bg-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
  height: 100%;
}

.page-wrapper {
  flex: 1 1 auto;
  padding: 20px;
}
