:root {
    --font-family: "Inter var", sans-serif;
    --font-size-base: 16px;
    --font-size-h1: 24px;
    --navbar-height: 40px;
    --sidebar-width: 250px;
    --sidebar-width-collapsed: 64px;
}
