.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    color: var(--primary-color);
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
        background-color: var(--highlight-bg);
        color: var(--highlight-text-color);
    }

    &.text {
        border: none;
        padding: 8px;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.icon g {
    stroke: var(--icon-color);
}
