.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    color: var(--primary-color);
    background-color: transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
        background-color: var(--primary-color);
        color: var(--inverted-primary-color);
    }
    &.text {
        border: none;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}
