.article_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr;
    gap: 20px;
}
