.items {
    position: absolute;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    z-index: 1;
    margin-top: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.bottom-left {
        top: 100%;
        right: 0;
    }

    &.bottom-right {
        top: 100%;
        left: 0;
    }

    &.top-left {
        bottom: 100%;
        right: 0;
    }

    &.top-right {
        bottom: 100%;
        left: 0;
    }
}

.item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: var(--highlight-bg);
        color: var(--highlight-text-color);
    }

    &:active {
        color: var(--highlight-text-color);
    }

    &.selected {
        background-color: var(--primary-color);
        color: var(--primary-color-text);
    }
}
