.commentList {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.skeleton_user {
    display: flex;
    align-items: center;
    gap: 10px;
}
