.app_dark_theme {
    --text-color: rgb(255 255 255 / 87%);
    --text-color-secondary: rgb(255 255 255 / 60%);
    --primary-color: #22d3ee;
    --primary-color-text: #030712;
    --highlight-bg: rgb(34 211 238 / 16%);
    --highlight-text-color: rgb(255 255 255 / 87%);
    --bg-color: #1f2937;
    --inverted-bg-color: #fff;
    --border-color: rgb(255 255 255 / 60%);
    --bar-color: #293849;
    --icon-color: #f9fafb;

    --skeleton-bg-color: rgba(255, 255, 255, 0.06);
    --skeleton-border-color: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0)
    );
}
