:root {
    --text-color: #4b5563;
    --text-color-secondary: #6b7280;
    --primary-color: #06b6d4;
    --primary-color-text: #fff;
    --highlight-bg: #ecfeff;
    --highlight-text-color: #0e7490;
    --bg-color: #fff;
    --inverted-bg-color: #1f2937;
    --border-color: #6b7280;
    --bar-color: #ededed;
    --icon-color: #000;
}
