.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    height: var(--navbar-height);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bar-color);
}

.navbar__tools {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}
