.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px;
    height: var(--navbar-height);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bar-color);
}

.navbar__tools {
    margin-left: auto;
}

.logo {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
        sans-serif;
}

.article {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
}
