.profileCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
